/* =========START CLIENTS============= */
#clients {
  padding: 2rem 0;
}

#clients::after {
  content: "";
  width: 100%;
  height: 40px;
  --webkit-clip-path: polygon(0 0, 100% 0%, 84% 0, 0 30%);
  clip-path: polygon(0 0, 100% 0%, 84% 0, 0 30%);
  background: linear-gradient(1deg, #0a58ca 0%, #371660 100%);

  display: block;
  top: 0px;
  position: absolute;
}

#clients::before {
  content: "";
  width: 100%;
  height: 40px;
  --webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 15% 0);
  clip-path: polygon(0 0, 100% 0, 100% 30%, 15% 0);
  background: #371660;
  display: block;
  bottom: -29px;
  position: absolute;
}

#clients .client-img img {
  /* width: 60%; */
  width: 7rem;
  object-fit: cover;
  cursor: pointer;
}

/* =========END CLIENTS============= */

/* =========START ABOUT US============= */
#about {
  background-image: url(../images/home/about/about-bg.svg);
  background-repeat: no-repeat;
  background-position: center left;
  padding-top: 6rem !important;
}

#about .about-card {
  border-radius: 20px;
  background-color: #0e0c15;
  padding: 1.9rem 1.5rem;
  clip-path: polygon(90% 0, 100% 15%, 100% 75%, 100% 100%, 0 100%, 0 0);
}

#about .about-border {
  padding: 1.5px;
  border-radius: 20px;
  background: linear-gradient(180deg,
      rgba(215, 125, 238, 0.85) 0%,
      rgba(214, 51, 255, 0) 56.28%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15));
  clip-path: polygon(90% 0, 100% 15%, 100% 75%, 100% 100%, 0 100%, 0 0);
  cursor: pointer;
}

#about .about-arrow {
  display: none;
}

#about .about-border:hover {
  background: linear-gradient(180deg,
      rgba(51, 206, 255, 0.85) 0%,
      rgba(214, 51, 255, 0) 56.28%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}

#about .about-border:hover .about-arrow {
  display: block;
}

#about .about-border:hover .text-white-50 {
  color: var(--text-white-color) !important;
}

@media (max-width: 991px) {
  #about {
    padding-top: 3rem !important;
  }

  #about .fs-lg {
    font-size: 2.3rem;
  }
}

@media (max-width: 767px) {
  #about {
    padding-top: 2rem !important;
  }

  #about .fs-lg {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1.3rem !important;
  }
}

@media (max-width: 567px) {
  #about .fs-lg {
    font-size: 1.6rem;
  }

  #about .fs-2 {
    font-size: 1.4rem !important;
  }

  .about-text {
    font-size: 1.1rem !important;
  }
}

/* ===========END ABOUT US================ */

/* ===========START TEST SWIPER TABSS================ */
button:focus,
input:focus{
  outline: none;
  box-shadow: none;
}
a,
a:hover{
  text-decoration: none;
}

body{
  font-family: 'Nunito', sans-serif;
}

/*--------------------*/
.box-lists-slider{
    position: relative;
}
#box-slider .swiper-slide {
    width: auto;
}
.box-lists-slider .solution-btn {
  min-height: 64px;
}

.box-lists-slider .button-border:hover .btn {
  background-color: var(--bg-main-color) !important;
}

.box-lists-slider .nav-link.active {
  border: 0;
  background-color: var(--bg-main-color) !important;
}

.data-text {
    display: none;
}
.data-text.active{
    display: block;
}
.data-text h6{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 8px;
    font-weight: 700;
}
.data-text p{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}
.slider-button{
  width: 30px;
  height: 30px;
  background: linear-gradient(150deg, #000000, #fe0018, #3c406f, #d87cee);
  box-shadow: 0px 4px 6px rgb(0 0 0 / 71%);
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: absolute;
  top: 20px;
  z-index: 1;
  cursor: pointer;
  border: 3px solid;
}
.slider-button svg {
  width: 24px; /* Adjust arrow size */
  height: 24px;
  cursor: pointer;
}

.slider-button:hover svg path {
  stroke: #ffffff; /* Change color on hover */
}


.swiper-horizontal {
  touch-action: pan-y;
  overflow: hidden !important;
}

.slider-button.slider-prev{
    left: -30px;
}
.slider-button.slider-next{
    right: -30px;
}
.slider-button.swiper-button-disabled{
    opacity: 0;
    visibility: hidden;
}
.box{
    padding: 30px;
    margin-top: 20px;
    background-color: #d9eefd;
    border-radius: 6px;
    transition: 0.3s;
    height: 100%;
}
.box i {
    font-size: 40px;
    margin-bottom: 20px;
    color: #37a7f1;
}



@media (max-width: 575px){
    .category-button{
        font-size: 12px;
        padding: 4px 14px;
    }
    .slider-button.slider-prev {
        left: inherit;
        right: 32px;
    }
    .slider-button.slider-next {
        right: 0;
    }
}

/* Ensure that only active content is shown */
.data-text {
  display: none;
}

.data-text.active {
  display: block;
}


/* ===========END TEST SWIPER TABSS================ */

/* =============START Use Cases=========== */
#use-cases {
  padding-top: 6rem;
}

#use-cases .case-title {
  font-size: 1.05rem;
  font-weight: bold;
}

#use-cases .case-description {
  font-size: 1.03rem !important;
}

.case-icon {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.case-content:hover {
  background: radial-gradient(circle,
      rgb(40 39 200 / 40%) 0%,
      rgba(255, 255, 255, 0) 50%
      /* rgba(255, 255, 255, 0) 70% */
    );
}

.chat-bg {
  background-color: #ac6aff;
}

.arrow-bg {
  background-color: #eb7fcd;
}

.electrical-bg {
  background-color: #00a1e6;
}

@media (max-width: 768px) {
  #use-cases .fs-lg {
    font-size: 2rem;
  }

  #use-cases .case-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #use-cases .mb-5 {
    margin-bottom: 1.3rem !important;
  }

  #use-cases {
    padding-top: 2rem;
  }
}

@media (max-width: 567px) {
  #use-cases {
    padding-top: 0.5rem;
  }

  #use-cases .fs-lg {
    font-size: 1.6rem;
  }
}

/* =============END Use Cases=========== */
#videoMap {
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 567px) {
  #videoMap {
    height: 50vh;
  }
}

/* ===============START SOLUTION AND SERVICES============ */
#solution-services {
  padding-top: 5rem;
}

#solution-services .service-title {
  font-size: 1.3rem;
  line-height: 1.6;
}

#solution-services .fs-5-2 {
  font-size: 1.03rem !important;
}

#solution-services .arrow-bg {
  background-color: #00a1e6;
}

#solution-services .service-item-new-card .service-img {
  height: 350px;
}

#solution-services .service-item-new-card .service-img img {
  object-fit: fill !important;
  border-radius: 15px;
}

#solution-services .service-item-new-card .arrow-icon {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border: 1px solid #4b4e60;
}

#solution-services .service-item-new-card .arrow-icon:hover svg {
  transition: all 1.5s ease-in-out;
  animation: mymove 1.5s infinite;
}

#solution-services .service-content:hover .service-overlay {
  background: radial-gradient(circle,
      rgb(40 39 200 / 40%) 0%,
      rgba(255, 255, 255, 0) 65%
      /* rgba(255, 255, 255, 0) 70% */
    );
  inset: 0;
}

#solution-services .service-content:hover .arrow-bg {
  background-color: #ac6aff;
}

#solution-services .service-content {
  border-radius: 25px 60px 25px 25px;
  background-color: #0e0c15;
  padding: 2.4rem;
  clip-path: polygon(85% 0, 100% 14%, 100% 75%, 100% 100%, 0 100%, 0 0);
}

#solution-services .service-card {
  padding: 1.5px;
  border-radius: 25px 60px 25px 25px;
  clip-path: polygon(85% 0, 100% 14%, 100% 75%, 100% 100%, 0 100%, 0 0);
  background: linear-gradient(180deg,
      rgba(51, 206, 255, 0.85) 0%,
      rgba(214, 51, 255, 0) 56.28%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}

#solution-services .service-card:hover {
  background: linear-gradient(180deg,
      rgba(215, 125, 238, 0.85) 0%,
      rgba(214, 51, 255, 0) 56.28%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}

#solution-services .services-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

#solution-services .services-container .solution-content {
  scroll-snap-align: start;
}

#solution-services .services-container::-webkit-scrollbar-track {
  background: transparent;
}

#solution-services .services-container::-webkit-scrollbar-thumb {
  background: transparent;
}

#solution-services .services-container .button-border:hover .btn {
  background-color: var(--bg-main-color) !important;
}

#solution-services .services-container .solution-content:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 11px;
  background-image: url(../images/solutions-services/vector.webp);
  right: -47px;
  top: 50%;
  transform: translate(0px, -50%);
}

#solution-services .nav-pills button {
  min-height: 64px;
  text-wrap: nowrap;
}

#solution-services .nav-pills .nav-link.active {
  border: 0;
  background-color: var(--bg-main-color) !important;
}

#solution-services .tab-content.d-none {
  display: block !important;
}

@media (max-width: 768px) {
  #solution-services {
    padding-top: 3rem;
  }

  #solution-services .fs-lg {
    font-size: 2rem;
  }

  #solution-services .service-title {
    font-size: 1.5rem;
  }

  #solution-services .service-content {
    text-align: center;
  }
}

@media (max-width: 567px) {
  #solution-services {
    padding-top: 1.5rem;
  }

  #solution-services .fs-lg {
    font-size: 1.3rem;
  }

  #solution-services .service-content {
    padding: 1.8rem;
    gap: 15px !important;
  }

  #solution-services .service-title {
    font-size: 1.2rem;
  }

  #solution-services .case-icon {
    width: 40px;
    height: 40px;
  }
}

/* ===============END SOLUTION AND SERVICES============ */

/* ==============START PARTNERS============ */
#partners {
  padding-top: 4rem;
}

#partners .nav-pills {
  background-color: #2a135b3d;
  border: 0;
}

#partners .nav-pills .nav-link {
  border-radius: 50px;
  padding: 0.8rem 1.1rem;
  color: #b6b6b6;
  border: 0;
}

#partners .nav-pills .nav-link.active {
  color: var(--text-white-color);
  background: #5200fda8;
}

#partners .tab-content {
  height: 490px;
}

#partners .slick-vertical .slick-current,
#partners .slick-vertical .slick-active:last-child {
  opacity: 0.4;
}

.partner-img {
  box-shadow: -2px -2px 1px 0px #531cc780;
  background: #0e0c15;
  border-radius: 20px;
  height: 5rem !important;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 0.5rem 1rem 0.5rem;
  cursor: pointer;
}

.partner-img img {
  width: 75% !important;
  height: 60% !important;
  object-fit: cover;
}

#partners .loading-skeleton {
  height: 5rem;
  background-color: #e5e1f045;
  border-radius: 20px;
  margin: 0 0.5rem 1rem 0.5rem;
}

@media (max-width: 992px) {

  #partners .tab-content,
  #pills-loading {
    height: auto;
  }
}

@media (max-width: 768px) {
  #partners .fs-lg {
    font-size: 2rem;
  }

  #partners {
    padding-top: 1.5rem;
  }
}

@media (max-width: 567px) {
  #partners .fs-lg {
    font-size: 1.6rem;
  }
}

/* ==============END PARTNERS============ */

#articles .nav-pills {
  border: 0;
}

#articles .nav-pills .nav-link {
  background-color: #2a135b3d;
  border-radius: 50px;
  padding: 0.8rem 1.1rem;
  color: #b6b6b6;
  border: 0;
}

#articles .nav-pills .nav-link.active {
  color: var(--text-white-color);
  background: #5200fda8;
}