:root {
  --text-main-color: #0fb0ff;
  --bg-main-color: #0fb0ff;
  --text-second-color: #7c1dc9;
  --bg-second-color: #7c1dc9;
  --text-white-color: #fff;
  --bg-white-color: #fff;
  --bg-dark-color: #0b121f;
  --text-gray-light: #f6f3ff;
  --text-gray-color: #ada8c3;
  --bg-gray-color: #f2f4f7;
}
